.footer {
    background-color: $darkModerateCyan;
    text-align: center;
    &-title {
        padding: 1rem 0;
    }
    &-list {
        &-ul {
            padding: 1rem 0;
            & li {
                display: inline-block;
                & a {
                    color: white;
                    font-family: $fontBarlow;
                }
                &:not(:last-child) {
                    margin-right: 2rem;
                }
            }
        }
    }
    &-socials {
        &-ul {
            padding: 1rem 0;
            & li {
                display: inline-block;
                margin-right: 1rem;
            }
        }
    }
}